$dark: #171810;
$grey: #9da3a8;
$neon: #29f3e2;
$classic: bold 47px/150% 'Montserrat', sans-serif;
$light: 300 23px/150% 'Montserrat', sans-serif;

@mixin highlight {
  &::selection {
    color: $dark;
    background: $neon;
  }
}

@mixin button-effect {
  transition: all .07s ease;
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.0);
  }
}

html {
    background: $dark;
}

main {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 100px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    margin: 0;
  }
}


.left, .right {
  padding: 50px;
  @media only screen and (max-width: 768px) {
    padding: 0;
  }
}

.left {
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
  }
}

.input-line {
  border-bottom: 3px solid $neon;
  position: relative;
  width: 290px;
}

.input-area {
  background-color: $dark;
  border: 1px solid $dark;
  color: white;
  font: $classic;
  font-size: 30px;
  line-height: 70.5px;
  width: 80%;
  @include highlight;
}

.backspace {
  background: $dark;
  background-image: url('../media/backspace.png');
  background-repeat: no-repeat;
  background-size: cover;
  border: 0;
  height: 30px;
  margin-top: -15px;
  padding: 0;
  position: absolute;
  right: 0;
  top: 50%;
  width: 54px;
  @include button-effect;
}

.output {
  color: $grey;
  font: $light;
  line-height: 200%;
  .result {
    font-style: italic;
    visibility: hidden;
  }
  p {
    margin-bottom: 21px;
    @include highlight;
  }
  @media only screen and (max-width: 768px) {
    font-size: 15px;
    line-height: normal;
  }
}

.clear-button {
  background-color: $dark;
  border: 0;
  color: white;
  font: $light;
  margin-top: 15px;
  padding: 0;
  &:hover {
    text-decoration: underline;
  }
  @include button-effect;
  @media only screen and (max-width: 768px) {
    font-size: 22px;
  }
}

.right {
  display: grid;
  grid-auto-rows: auto;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.primary-btn {
  background: $dark;
  border: 2px solid $dark;
  font: $classic;
  height: 80px;
  text-align: center;
  width: 60px;
  @include button-effect;
  @media only screen and (max-width: 768px) {
    height: 40px;
    width: 30px;
    &:hover{
      border: 0;
    }
  }
}

.operator .primary-btn {
  color: $neon;
  &:hover {
    border-color: white;
  }
}

.digit .primary-btn {
  color: white;
  &:hover {
    border-color: $neon;
  }
}
